{% extends 'base.html' %}
    {% block content %}
    

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="static/images/newcheese.PNG"> 
        <div class="caption center-align">
          <h3>SECRET RECIPE WELCOMES YOU</h3>
          <a href="{{url_for('home')}}"><button class="btn btn-primary" type="submit">View</button></a>
          
        </div>
      </li>
      <li>
        <img src="static/images/addrecipe.jpeg"> 
        <div class="caption center-align">
          <h3>KNOW A SECRET RECIPE?</h3>
          <a href="{{url_for('add')}}"><button class="btn btn-primary red" type="submit">Share</button></a>
        </div>
      </li>
    </ul>
  </div>
    
    <h1 class='center-align light-italic' > FEATURED RECIPE </h1>
      <div class="row">
        {%for recipe in tasks%}
        {%if loop.index < 5%}
        <div class="col s12 m6">
          <div class="card ">
            <div class="card-image">
              <img src="{{recipe.url}}"width="480" height="240">
              <span class="card-title overlay-dark">{{recipe.recipe_name}}</span>
            </div>
            <div class="card-content">
              <p>{{recipe.description}}</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="btn btn-primary">Find Out
                            More!</a>
            </div>
          </div>
        </div>
        {%endif%}
        {%endfor%}
    </div>
    {% endblock %}
    