{% extends 'base.html' %}
    {% block content %}
    <h1> TEST</h1>
    {% for i in tasks%}
    {%if loop.index < 5%}
      <div class="card card-stacked">
        <div class="col m6">
          <div class="card">
            <div class="card-image responsive-img" >
              <img src="{{i.url}}"alt = "No IMAGE AVAILABLE FOR - {{i.recipe_name}}  ">
              <span id="card-image-title" class="overlay-dark card-title">{{i.category_name}} - {{i.recipe_name}}</span>
            </div>
            <div class="card-content">
              {{i.description}}
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      {%endfor%}
    {% endblock %}
    