{% extends 'base.html' %}
    {% block content %}
    <h1> HUNGRY CAMEL</h1>
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">

                <div class=" task_header col s9">
                    <i class="material-icons">expand_more</i><strong>{{task.category_name}}</strong> - {{task.recipe_name}}
                </div>
            </div>
            <div class="collapsible-body">
                {{task.description}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}