{%extends 'base.html' %}
{% block content %}
      <p class="lead ">Make yourself a cheeseburger today!</p>
        <div class="row">
            <div class="col-lg-4">
                    <div class="input-group-append">
                        <button class="btn btn-primary"id='ALL'value = 'ALL'>VIEW ALL</button>
                        <button class="btn btn-primary"id = 'KFC'  value = 'KFC'>KFC</button>
                        <button class="btn btn-primary"id ='MCD'  value = 'MC DONALDS'>MC DONALDS</button>
                        <button class="btn btn-primary"id='PIZZA' value = 'PIZZA HUT'>PIZZA HUT</button>
                        <button class="btn btn-primary"id='BURGER'value = 'BURGER KING'>BURGER KING</button>
                    </div>
            </div>
        </div>
  {%for food in recipe%}
    <div class="card col s12 m4 l3 {{food.category_name}}">
    <div class="card-image waves-effect waves-block waves-light ">
      <img class="activator" src="{{food.url}}" height="400">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 ">{{food.category_name}} - {{food.recipe_name}}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{food.recipe_name}}</span>
      <p>{{food.description}}</p>
      <a href="{{ url_for('recipe', recipe_id=food._id) }}" class="btn btn-primary">Find Out
                            More!</a>
      
    </div>
  </div>
  {%endfor%}
  

{%endblock%}